svg {
    display: block;
    width: 100%;
    height: 300px;
  }
  
  svg .country:hover {
    stroke: black;
    stroke-width: 1px;
    cursor: pointer;
  }
  
  #root {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    height: 100vh;
    padding: 0 50px 150px;
    text-align: center;
    box-sizing: border-box;
  }
  
  button {
    width: 100px;
    border: 1px solid black;
    margin: 0 auto 5px;
  }
  
  video {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: auto;
    width: 100%;
  }
  